body{
  background-color: #a8b7b2;
}
.title {
  border-style: solid;
  border-color: #2b9b43;
  border-radius: 5px;
  color: white;
  font-family:inherit;
  text-align: center;
  background-color: #44C96C
}
.youtube{
  position: absolute;
  right: 0px;
}
.spotify{
  margin-top: 2px;
  margin-left: 20px;
}
.body{
  border-style: solid;
  border-color: #2b9b43;
  border-radius: 5px;
  background: #98aa9c;
}
.sc{
  position: absolute;
  left: 45.5%;
}
.dc{
  margin-top: 50px;
}
.description1{
  border-style: solid;
  border-color: #2b9b43;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background-color: #98aa9c;
}
.description2{
  border-style: solid;
  border-color: #2b9b43;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background-color: #98aa9c;
}
.description3{
  border-style: solid;
  border-color: #2b9b43;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  background-color: #98aa9c;
}
.songs{
  color: #494547;
  border-style: solid;
  border-color: #2b9b43;
  border-radius: 5px;
  background: #98aa9c;
  font-family:fantasy;
  font-size: 25px;
}
